<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Zavoca Back Office">
    <meta name="author" content="Ajir Edun">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon.ico') }}">
    <title>{% block title %}{% if zavoca_context.pageTitle is defined and zavoca_context.pageTitle %}{{ zavoca_context.pageTitle }}{% else %}Hello{% endif %}{% endblock %}
        - Zavoca</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    {% endblock %}
    {% block css %}{% endblock %}
</head>

<body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block whole %}
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    {% block wrapper %}
        <div id="main-wrapper">
            {% block navbar_container %}
                <header class="topbar">
                    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                        <div class="navbar-header">
                            <!-- This is for the sidebar toggle which is visible on mobile only -->
                            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                                <i class="ti-menu ti-close"></i>
                            </a>
                            <!-- ============================================================== -->
                            <!-- Logo -->
                            <!-- ============================================================== -->
                            <a class="navbar-brand" href="{{ path('zavoca_core_main') }}">
                                <!-- Logo icon -->
                                <b class="logo-icon">
                                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                    <!-- Dark Logo icon -->
                                    <img src="{{ asset('build/icon.png') }}" alt="Zavoca" class="logo-nav dark-logo"/>
                                    <!-- Light Logo icon -->
                                    <img src="{{ asset('build/icon_light.png') }}" alt="Zavoca"
                                         class="logo-nav light-logo"/>
                                </b>
                                <!--End Logo icon -->
                                <!-- Logo text -->
                                <span class="logo-text">
                                    <!-- dark Logo text -->
                                    <img class="logo-nav-text dark-logo" src="{{ asset('build/logo.png') }}"/>
                                    <!-- Light Logo text -->
                                    <img class="logo-nav-text light-logo" src="{{ asset('build/logo_light.png') }}"/>
                                </span>
                            </a>
                            <!-- ============================================================== -->
                            <!-- End Logo -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- Toggle which is visible on mobile only -->
                            <!-- ============================================================== -->
                            <a class="topbartoggler d-block d-md-none waves-effect waves-light"
                               href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                               aria-controls="navbarSupportedContent" aria-expanded="false"
                               aria-label="Toggle navigation">
                                <i class="ti-more"></i>
                            </a>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <!-- ============================================================== -->
                            <!-- toggle and nav items -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav float-left mr-auto">
                                {% block navbar_left %}
                                    {% include 'zavoca/core/layout/navbar_left.html.twig' %}
                                {% endblock %}
                            </ul>
                            <!-- ============================================================== -->
                            <!-- Right side toggle and nav items -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav float-right">

                                {% block navbar_right %}
                                    {% include 'zavoca/core/layout/navbar_right.html.twig' %}
                                {% endblock %}
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}
            {% block sidebar_container %}
                <aside class="left-sidebar">
                    <!-- Sidebar scroll-->
                    <div class="scroll-sidebar">
                        {% block sidebar_wrapper %}
                            <!-- Sidebar navigation-->
                            <nav class="sidebar-nav">
                                <ul id="sidebarnav">
                                    {% block sidebar_nav %}
                                        {% include 'zavoca/core/layout/sidebar.html.twig' %}
                                    {% endblock %}
                                </ul>
                            </nav>
                            <!-- End Sidebar navigation -->
                        {% endblock %}
                    </div>
                    <!-- End Sidebar scroll -->
                </aside>
            {% endblock %}
            {% block main_container %}
                <div class="page-wrapper" style="display:block;">
                    <div id="zavoca-context-search-container" class="zavoca-hide">
                        <div class="row">
                            <div class="col-md-3 col-xl-4"></div>
                            <div class="col-md-6 col-xl-4 p-t-30">
                                <div class="show-mobile p-t-30"></div>
                                <div id="zavoca-context-search" class="p-t-25" style="margin-bottom:100px;">
                                    {% include 'zavoca/core/context_search/welcome_card.html.twig' %}
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-4"></div>
                        </div>
                    </div>
                    {% block content_container %}
                        {% block breadcrumb_container %}
                            <div id="zavoca-breadcrumb-wrapper" class="page-breadcrumb">
                                <div class="row">
                                    <div class="col-3 align-self-center">
                                        <h4 class="page-title">{% block pageTitle %}{% if zavoca_context.pageTitle is defined and zavoca_context.pageTitle %}{{ zavoca_context.pageTitle }}{% endif %}{% endblock %}</h4>
                                        <div class="d-flex align-items-center">

                                        </div>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <div class="d-flex justify-content-end align-items-center">
                                            {% for pa in zavoca_context.pageActions %}
                                                <a href="{{ path(pa.pageAction.link) }}"
                                                   title="{{ pa.pageAction.label }}"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   style="margin-left:5px;"
                                                   data-prompt="{% if pa.pageAction.prompt %}prompt{% else %}no-prompt{% endif %}"
                                                   data-prompt-sign="{{ pa.pageAction.promptSettings.sign }}"
                                                   data-prompt-message="{{ pa.pageAction.promptSettings.message }}"
                                                   data-prompt-button-confirm="{{ pa.pageAction.promptSettings.button_confirm }}"
                                                   data-prompt-button-cancel="{{ pa.pageAction.promptSettings.button_cancel }}"
                                                   class="btn waves-effect waves-light btn-rounded zavoca-prompt {{ pa.pageAction.type }}">
                                                    <i class="{{ pa.pageAction.icon }}"></i> <span
                                                            class="hide-mobile">{{ pa.pageAction.label }}</span>
                                                </a>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endblock %}

                        {% block content_wrapper %}
                            <div id="zavoca-content-wrapper" class="container-fluid scrollable">
                                <div class="row">
                                    <div class="col-12">
                                        {% block zavocaMessages %}
                                            {% include 'zavoca/core/layout/zavocaMessages.html.twig' %}
                                        {% endblock %}
                                    </div>
                                </div>
                                {% block content %}

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <!-- title -->
                                                    <div class="d-md-flex align-items-center">
                                                        <div>
                                                            <h4 class="card-title">You should override content
                                                                block</h4>
                                                        </div>
                                                    </div>
                                                    <!-- title -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endblock %}
                    {% block footer_container %}
                        <footer id="zavoca-content-footer" class="footer text-center">
                            {% block footer %}
                                {% include 'zavoca/core/layout/footer.html.twig' %}
                            {% endblock %}
                        </footer>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block customizer %}
        <aside class="customizer">
            <a href="javascript:void(0)" class="service-panel-toggle">
                <i class="fa fa-spin fa-cog"></i>
            </a>
            <div class="customizer-body">
                <ul class="nav customizer-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab
                                   " aria-controls="pills-home" aria-selected="true">
                            <i class="mdi mdi-wrench font-20"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#chat" role="tab
                                   " aria-controls="chat" aria-selected="false">
                            <i class="mdi mdi-message-reply font-20"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab
                                   " aria-controls="pills-contact" aria-selected="false">
                            <i class="mdi mdi-star-circle font-20"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <!-- Tab 1 -->
                    {% include 'zavoca/core/layout/theme_customizer.html.twig' %}
                    <!-- End Tab 1 -->
                    <!-- Tab 2 -->
                    <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <h6 class="m-t-20 m-b-20">TO DO</h6>
                    </div>
                    <!-- End Tab 2 -->
                    <!-- Tab 3 -->
                    <div class="tab-pane fade p-15" id="pills-contact" role="tabpanel"
                         aria-labelledby="pills-contact-tab">
                        <h6 class="m-t-20 m-b-20">TO DODO</h6>
                    </div>
                    <!-- End Tab 3 -->
                </div>
            </div>
        </aside>
        <div class="chat-windows"></div>
    {% endblock %}

{% endblock %}

{% block js %}{% endblock %}
</body>

</html>
