<!-- ============================================================== -->
<!-- Search -->
<!-- ============================================================== -->
<li class="nav-item search-box">
    <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
        <i class="ti-search font-16"></i>
    </a>
    <form class="app-search position-absolute">
        <input type="text" class="form-control" placeholder="Search &amp; enter">
        <a class="srh-btn">
            <i class="ti-close"></i>
        </a>
    </form>
</li>
<!-- ============================================================== -->
<!-- create new -->
<!-- ============================================================== -->
{#<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        <i class="flag-icon flag-icon-us font-18"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right  animated bounceInDown" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href="#">
            <i class="flag-icon flag-icon-us"></i> English</a>
        <a class="dropdown-item" href="#">
            <i class="flag-icon flag-icon-fr"></i> French</a>
        <a class="dropdown-item" href="#">
            <i class="flag-icon flag-icon-es"></i> Spanish</a>
        <a class="dropdown-item" href="#">
            <i class="flag-icon flag-icon-de"></i> German</a>
    </div>
</li>#}

<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        <img src="{{ app.user.picture }}" alt="{{ app.user.name }}" class="rounded-circle" width="31">
    </a>
    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow">
                                    <span class="bg-primary"></span>
                                </span>
        <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
            <div class="">
                <img src="{{ app.user.picture }}" alt="{{ app.user.name }}" class="img-circle" width="60">
            </div>
            <div class="m-l-10">
                <h4 class="m-b-0">{{ app.user.name }}</h4>
                <p class=" m-b-0">{{ app.user.email }}</p>
            </div>
        </div>
        <a class="dropdown-item" href="{{ path('zavoca_core_user_profile') }}">
            <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
        <a class="dropdown-item" href="javascript:void(0)">
            <i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
        <a class="dropdown-item" href="javascript:void(0)">
            <i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">
            <i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('zavoca_core_logout') }}">
            <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
    </div>
</li>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->