<!-- User Profile-->
<li>
    <!-- User Profile-->
    <div class="user-profile dropdown m-t-20">
        <div class="user-pic">
            <div class="user-image">
                <img src="{{ app.user.picture }}" class="rounded-circle img-fluid"  />
                <div class="status {% if app.user.isActiveNow %}online{% else %}offline{% endif %}" style="bottom:18px;left:73px;height:15px;width:15px;"></div>
            </div>
        </div>
        <div class="user-content hide-menu m-t-10">
            <h5 class="m-b-10 user-name font-medium">{{ app.user.name }}</h5>
            <a href="javascript:void(0)" class="btn btn-circle btn-sm m-r-5" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <i class="ti-settings"></i>
            </a>
            <a href="{{ path('zavoca_core_logout') }}" title="Logout" class="btn btn-circle btn-sm">
                <i class="ti-power-off"></i>
            </a>
            <div class="dropdown-menu animated flipInY" aria-labelledby="Userdd">
                <a class="dropdown-item" href="{{ path('zavoca_core_user_profile') }}">
                    <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('zavoca_core_logout') }}">
                    <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
            </div>
        </div>
    </div>
    <!-- End User Profile-->
</li>
<!-- User Profile-->

<style>
    .level-2-icon-a {
        visibility: revert;
    }
</style>
{% for category in zavoca_context.sidebar %}

    <li class="nav-small-cap">
        <i class="mdi mdi-dots-horizontal"></i>
        <span class="hide-menu">{{ category.name }}</span>
    </li>
    {% if category.child is defined and category.child is not empty %}
        {% for menu1 in category.child %}
            <li class="sidebar-item">
                <a class="sidebar-link {% if menu1.child is defined and menu1.child is not empty %}has-arrow{% endif %} waves-effect waves-dark" href="{% if menu1.route is defined %}{{ path(menu1.route) }}{% else %}/{{ loop.index }}{% endif %}" aria-expanded="false">
                    {{ menu1.icon | raw }}
                    <span class="hide-menu">{{ menu1.name }} </span>
                </a>
                {% if menu1.child is defined and menu1.child is not empty %}
                    <ul aria-expanded="false" class="collapse  first-level">
                        {% for menu2 in menu1.child %}
                            <li class="sidebar-item">
                                <a href="{{ path(menu2.route) }}" class="sidebar-link level-2-icon-a">
                                    {{ menu2.icon | raw }}
                                    <span class="hide-menu"> {{ menu2.name }} </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
{% endfor %}