<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>{% block title %}Hello{% endblock %} - Zavoca</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body {% if app.user is defined and app.user and not app.user.darkTheme %}class="white-content"{% endif %}>
{% block whole %}
    <div class="wrapper ">
        {% block wrapper %}
            {% block sidebar_container %}
                <div class="sidebar">
                    {% block sidebar_wrapper %}
                        <div class="sidebar-wrapper">
                            <ul class="nav">
                                {% block sidebar_nav %}
                                    {% include 'layout/sidebar.html.twig' %}
                                {% endblock %}
                            </ul>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            {% block main_container %}
                <div class="main-panel">
                    {% block main_wrapper %}
                        {% block navbar_container %}
                            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                                <div class="container-fluid">
                                    <div class="navbar-wrapper">
                                        <div class="navbar-toggle d-inline">
                                            <button type="button" class="navbar-toggler">
                                                <span class="navbar-toggler-bar bar1"></span>
                                                <span class="navbar-toggler-bar bar2"></span>
                                                <span class="navbar-toggler-bar bar3"></span>
                                            </button>
                                        </div>
                                        <a class="navbar-brand" href="/">
                                            <img id="zvc-logo" src="{{ asset('build/logo.png') }}" alt="Logo" title="Zavoca">
                                        </a>
                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-bar navbar-kebab"></span>
                                        <span class="navbar-toggler-bar navbar-kebab"></span>
                                        <span class="navbar-toggler-bar navbar-kebab"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navigation">
                                        {% block navbar %}
                                            {% include 'layout/navbar.html.twig' %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </nav>
                        {% endblock %}
                        {% block content_container %}
                            <div class="content">
                                {% block content_wrapper %}
                                    <div class="row">
                                        <div class="col-12">
                                            {% block zavocaMessages %}
                                                {% include 'layout/zavocaMessages.html.twig' %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                    {% block content %}
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <p class="text-muted">You should override content block</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                        {% block footer_container %}
                            <footer class="footer">
                                <div class="container-fluid">
                                    {% block footer %}
                                        {% include 'layout/footer.html.twig' %}
                                    {% endblock %}
                                    <div class="copyright float-right">
                                        ©
                                        <script>
                                            document.write(new Date().getFullYear())
                                        </script> made with <i class="tim-icons icon-heart-2"></i> by
                                        <a href="https://www.ajiredun.com" target="_blank">Ajir Edun
                            </footer>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                {% block fixed_plugin %}
                    <li class="header-title">Mode</li>
                    <li class="adjustments-line text-center color-change">
                        <span class="color-label">LIGHT MODE</span>
                        <span class="badge light-badge mr-2"></span>
                        <span class="badge dark-badge ml-2"></span>
                        <span class="color-label">DARK MODE</span>
                    </li>
                {% endblock %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>#}
    {#<script src="{{ asset('assets/admin/js/Sortable.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/rf.js') }}?v=1.1.0"></script>#}
{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
