{% extends 'zavoca/core/plain_card_center.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block box_title %}
    <h5 class="font-medium m-b-20">Reset Password</h5>
{% endblock %}

{% block form %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a
                    href="{{ path('zavoca_core_logout') }}">Logout</a>
        </div>
    {% else %}
        <form method="post">
            {% if error %}
                <div class="alert alert-warning alert-rounded">
                    {{ error }}
                </div>
            {% endif %}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" value="" name="email" id="input_email" aria-label="Email"
                       class="form-control  form-control-lg" required autofocus placeholder="Email">
            </div>

            <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                    <button class="btn btn-block btn-lg btn-info" type="submit">Reset</button>
                </div>
            </div>

            <div class="form-group m-b-0 m-t-10">
                <div class="col-sm-12 text-center">
                    Don't have an account? <a href="{{ path('zavoca_core_register') }}" class="text-info m-l-5"><b>Register</b></a>
                </div>

                <div class="col-sm-12 text-center">
                    Already have an account? <a href="{{ path('zavoca_core_login') }}" class="text-info m-l-5"><b>Login</b></a>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

